.special {
	height: 120px;
	padding: 20px 0;
	background: #202f36;
	background: -moz-linear-gradient(left,  #202f36 0%, #56717e 100%);
	background: -webkit-linear-gradient(left,  #202f36 0%,#56717e 100%);
	background: linear-gradient(to right,  #202f36 0%,#56717e 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#202f36', endColorstr='#56717e',GradientType=1 );

}

.special__title {
	font-size: 30px;
	color: #fff;
	font-weight: 700;
}

.special__title span{
	color: #adeaf9;
}

.special__descr {
	color: #aac3c9;
	font-size: 18px;

}

.coutdown {
	position: absolute;
	top: 10px;
	right: 0;
}

.coutdown__digit {
	word-spacing: -0.36em;
	color: #fff;
	font-size: 30px;
	font-weight: 700;
	text-align: center;
}

.coutdown__digit > div {
	position: relative;
	border-bottom: 2px solid #000;
}

.coutdown__digit > div:after {
	content: "";
	position: absolute;
	width: 60px;
	height: 1px;
	background: #fff;
	opacity: 0.3;
	top: 26px;
	left: 0;
}

.coutdown__close {
	position: absolute;
	top: 0;
	right: -30px;
	width: 18px;
	height: 18px;
	background: url(../img/sprite.png) 0 0;
}

.coutdown__close:hover {
	background-position: -20px 0;
}

.digit__hour {
	background: #202f36;
	width: 60px;
	height: 52px;
	border-radius: 5px;
	display: inline-block;
	margin-left: 10px;
	padding-top: 5px;
	text-shadow: 0px 1px 3px rgba(0, 0, 0, 1);
}

.digit__min {
	background: #202f36;
	width: 60px;
	height: 52px;
	border-radius: 5px;
	display: inline-block;
	margin-left: 10px;
	padding-top: 5px;
	text-shadow: 0px 1px 3px rgba(0, 0, 0, 1);
}

.digit__sec {
	background: #202f36;
	width: 60px;
	height: 52px;
	border-radius: 5px;
	display: inline-block;
	margin-left: 10px;
	padding-top: 5px;
	text-shadow: 0px 1px 3px rgba(0, 0, 0, 1);
}

.coutdown__title {
	position: absolute;
	color: #a2b0b8;
	font-size: 10px;
	bottom: -15px;
	left: 0;
	width: 100%;
}

.coutdown__day {
	position: absolute;
    top: -10px;
    right: 265px;
}

.coutdown__hour {
	position: absolute;
    top: -10px;
    right: 152px;
}

.coutdown__min {
	position: absolute;
    top: -10px;
    right: 84px;
}

.coutdown__sec {
	position: absolute;
    top: -10px;
    right: 16px;
}




.header {
	padding: 20px 0;
	height: 175px;
}

.header__logo {
	width: 200px;
	position: absolute;
	top: 30px;
	left: 0;
}

.header__phone {
	text-align: right;
	font-weight: 300;
	font-size: 34px;
	margin-bottom: 10px;
}

.header__social {
	text-align: right;
	margin-bottom: 10px;
}

.header__social a {
	width: 35px;
	height: 35px;
	display: inline-block;
}

.header__social a:hover {
	opacity: 0.7;
}

.social__vk {
	background: url(../img/sprite.png) no-repeat;
	background-position: 0 -19px;
}

.social__fb {
	background: url(../img/sprite.png) no-repeat;
	background-position: -35px -19px;
}

.social__tv {
	background: url(../img/sprite.png) no-repeat;
	background-position: -70px -19px;
}

.social__inst {
	background: url(../img/sprite.png) no-repeat;
	background-position: -105px -19px;
}

.header__main-menu {
	text-align: right;
	z-index: 10;
}

.main-menu__one {
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 600;
	color: #363636;
	text-decoration: none;
	margin-left: 40px;
}

.main-menu__one:hover {
	color: #73b6cb;
} 

.teaser {
	background: url(../img/teaser.jpg) no-repeat;
	background-size: cover;
	height: 415px;
}

.service {
	background: #ecf5f7;
	padding: 50px 0;
}

.main-title {
	font-size: 34px;
	font-weight: 400;
	text-align: center;
	margin-top: 0;
	font-family: 'Open Sans'
}

.service__one {
	background: url(../tmp/service-bg.jpg) 0 0 no-repeat;
	width: 315px;
	height: 245px;
	display: inline-block;
	margin-left: 17px;
}

.service__one:first-child {
	margin-left: 0px;
}

.service__inner {
	display: table-cell;
	vertical-align: middle;
	height: inherit;
	width: inherit;
	text-align: center;
	text-decoration: none;
	position: relative;
}

.service__inner:before {
	content: "";
	position: absolute;
	top: 15px;
	left: 15px;
	width: calc(100% - 30px);
	height: calc(100% - 30px);
	border: 1px solid #fff;
}

.service__title {
	font-size: 33px;
	text-transform: uppercase;
	color: #fff;
	line-height: 28px;
}

.service__title span{
	display: block;
	font-size: 24px;
	font-weight: 300;
	margin-bottom: 10px;
}

.service__icon--arb {
	width: 50px;
	height: 50px;
	background: url(../img/sprite.png) no-repeat;
	background-position: -5px -95px;
	margin: 0 auto;	
	margin-bottom: 10px;
}

.service__icon--reg {
	width: 50px;
	height: 50px;
	background: url(../img/sprite.png) no-repeat;
	background-position: -65px -95px;
	margin: 0 auto;
	margin-bottom: 10px;
}

.service__icon--likv {
	width: 50px;
	height: 50px;
	background: url(../img/sprite.png) no-repeat;
	background-position: -115px -95px;
	margin: 0 auto;
	margin-bottom: 10px;
}

.about {
	padding: 50px 0;
}

.news {
	padding: 50px 0;
	background: #ecf5f7;
}

.news__list {
	padding: 0 40px;
}

.news__one {
	
}

.news-one__img {
	margin-bottom: 10px;
}

.news-one__img img {
	width: 100%;
}

.news-one__date {
	color: #57aac3;
	font-size: 15px;
	margin-bottom: 10px;
}

.news-one__title {
	font-size: 16px;
	margin-bottom: 10px;
}

.news-one__more {
	font-size: 16px;
}

.owl-prev {
	width: 20px;
	height: 35px;
	background: url(../img/sprite.png);
	background-position: -120px -190px;
	position: absolute;
	top: 45%;
	left: 0;
}

.owl-next {
	width: 20px;
	height: 35px;
	background: url(../img/sprite.png);
	background-position: -140px -190px;
	position: absolute;
	top: 45%;
	right: 0;
}

.owl-prev:hover {
	background-position: -120px -225px;
}

.owl-next:hover {
	background-position: -140px -225px;
}


.contact {
	padding: 50px 0;
}

.contact__left {
	display: inline-block;
	vertical-align: top;
	width: 490px;
	padding-left: 60px;
}

.contact-line {
	margin-bottom: 20px;
	position: relative;
}

.contact__right {
	display: inline-block;
	vertical-align: top;
	width: 489px;
}

.contact-line--phone:after {
	content: "";
	width: 25px;
	height: 25px;
	background: url(../img/sprite.png);
	background-position: -3px -226px;
	position: absolute;
	top: 0;
	left: -30px;
}
.contact-line--icq:after {
	content: "";
	width: 25px;
	height: 25px;
	background: url(../img/sprite.png);
	background-position: -3px -252px;
	position: absolute;
	top: 0;
	left: -30px;
}
.contact-line--mail:after {
	content: "";
	width: 25px;
	height: 20px;
	background: url(../img/sprite.png);
	background-position: -3px -275px;
	position: absolute;
	top: 0;
	left: -30px;
}
.contact-line--adres:after {
	content: "";
	width: 25px;
	height: 25px;
	background: url(../img/sprite.png);
	background-position: -3px -294px;
	position: absolute;
	top: 0;
	left: -30px;
}

.contact-line--mobile {
	font-size: 22px;
}

.contact__ico {
	display: inline-block;
	vertical-align: middle;
    width: 39px;
    height: 39px;
    background: url(../img/sprite.png);
    margin-right: 10px;
}
.contact__ico--wiber {
    background-position: 0 -156px;
}
.contact__ico--whatsup {
    background-position: -40px -156px;
}
.contact__ico--telegram {
    background-position: -80px -156px;
}
.download {
    display: inline-block;
	vertical-align: middle;
}

.download:before {
	text-decoration: none;
	margin-right: 10px;
	display: inline-block;
	vertical-align: middle;
	width: 20px;
    height: 20px;
    background: url(../img/sprite.png);
    background-position: 0 -200px;
    content: "";
}

.contact__ico--flamp {
    background-position: -31px -201px;
}
.contact__ico--inst {
    background-position: -31px -240px;
}
.contact__ico--vk {
    background-position: -70px -240px;
}
.contact__ico--fb {
    background-position: -70px -201px;
}

.order {
	background: #c1dce3;
	padding: 50px 0;
}

.order-form {
	
}

.order-form__line {
	max-width: 400px;
	margin: 0 auto 30px auto ;
	text-align: center;
}

.order-form__line input,
.order-form__line textarea {
	width: 100%;
	border-radius: 4px;
	outline: none;
	border: none;
	padding: 0 10px;
	font-size: 16px;
}

.order-form__line input {
	height: 45px;
}

.order-form__line input.error {
	background: url(../img/error.png) 97% 13px no-repeat #fff;
} 

.order-form__line textarea {
	height: 125px;
	padding: 10px;
}

.order-form__line input[type="checkbox"] {
	display: none;
}
	
.order-form__line label {
	display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 25px;
    margin-right: 15px;

}

.order-form__line label:before {
	content: "";
	width: 20px;
	height: 20px;
	margin-right: 10px;
	position: absolute;
	left: 0;
	bottom: 1px;
	border-radius: 2px;
	background-color: #fff;
}

input[type=checkbox]:checked + label:before {
	background: url(../img/sprite.png) -63px -296px #fff;
}

.order-form__line button {
	display: block;
	margin: 0 auto;
	outline: none;
	border: none;
	background: #4e97ac;
	height: 45px;
	width: 190px;
	border-radius: 4px;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 700;
	color: #fff;
}

.order-form__line label {
	color: #455b60;
}

#map {
	background: url(../img/map.jpg) center no-repeat;
	background-size: cover;
	height: 415px;
}

.footer {
	height: 120px;
	background: #46555a;
	color: #c6c6c6;
	padding-top: 35px;
}

.footer-inn {
	max-width: 980px;
	margin: 0 auto;
	position: relative;
	word-spacing: -0.25em;
}

.footer__copy {
	display: inline-block;
	vertical-align: top;
	font-size: 18px;
	margin-right: 100px;
}

.footer__copy span {
	font-size: 15px;
}

.footer-menu {
	display: inline-block;
	vertical-align: top;
	margin-top: 5px;
}

.footer-menu__one {
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 600;
	color: #fff;
	text-decoration: none;
	margin-right: 40px;
}

.footer-menu__one:hover {
	color: #a2d3e1;
}

.footer__counter {
	display: inline-block;
	vertical-align: top;
	float: right;
}

.header__mobile-menu {
	display: none;
	font-size: 24px;
    font-weight: 600;
    color: #363636;
    margin: 15px 0;
    text-align: center;
    text-decoration: none;
    padding-left: 20px;
}


@media (max-width: 1000px) {
	.wrap {
		padding: 0 10px;
	}

	.header__mobile-menu {
		display: block;
		position: relative;
		cursor: pointer;
	}

	.main-menu__list {
		display: none;
	}

	.header__mobile-menu:before {
		display: inline-block;
		content: "";
		width: 20px;
		height: 18px;
		background: url(../img/sprite.png) -44px 0;
		margin-right: 10px;
	}

	.header__mobile-menu--open:before {
		background-position: -63px 0;
	}

	.header__phone {
		font-size: 28px;
	}

	.header {
		padding: 10px 0;
	}

	.header__logo {
		top: 15px;
    	left: 10px;
	}
	
	.header__main-menu {
		width: 100%;
		background: #ecf5f7;
		position: absolute;
		left: 0;
		top: 113px;

	}

	.main-menu__one {
		display: block;
		text-align: center;
		margin-bottom: 20px;
	}

	.teaser {
		height: 225px;
	}

	.special {
		display: none;
	}

	.header__logo img {
		width: 175px;
	}

	.service__one {
		display: block;
		margin: 0 auto 20px auto;
	}

	.service__one:first-child {
		margin-left: auto;
	}

	.news__list {
		padding: 0 40px;
	}

	.contact__left {
		padding-left: 30px;
		width: 100%;
	}

	.contact__right {
		width: 100%;
	}

	.order-form__line {
		padding: 0 10px;
	}

	.order-form__line label {
		font-size: 14px;
	}

	.footer {
		height: auto;
	}

	.footer__copy {
		width: 100%;
		margin-right: 0;
		margin-bottom: 30px;
	}

	.footer-menu {
		width: 100%;
		margin-right: 0;
		margin-bottom: 30px;
	}

	.footer__counter {
		float: none;
	}

	.footer-inn {
		padding: 0 10px;
	}

}

